@(supervisores: List[Usuario])

@import helpers.Seguranca.InformacoesUsuarioHelper._

@base("Profile", "", extraScripts= Html("")){
    @utils.panel("Supervidores"){
        <div class="x_content">
       		 <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" >
                  <div class="input-group" style="float:right;">
                    <a href="@routes.AdministradorController.formulario" class="btn btn-default btn-lg"><i class="btn btn-default btn-lg"></i>Cadastrar</a>
                  </div>
                </div>
              </div>
              <br>
            @if(supervisores.size == 0) {
				<h3>Nenhum Supervisor cadastrado.</h3>			
			} else {
				@for(supervisor <- supervisores) {
					<div class="item-lista">
						<div class="item-lista">
							<div class="item">
								<h2>
									<a href="@routes.SupervisorController.visualizar(supervisor.id)">
										@supervisor.nome 
									</a>
								</h2>
								<div style=" padding-top:10px;">
									<a href="@routes.SupervisorController.visualizar(supervisor.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar</a>
									
									@if(isLogado()) { 
										@if(getUsuarioLogado().isAdministrador) {
											<a href="@routes.SupervisorController.editar(supervisor.id)" class="btn"><i class="icon-edit"></i> Editar</a>
											<a href="@routes.SupervisorController.deletar(supervisor.id)" onclick="return confirm('Deseja realmente excluir o Supervisor &quot;@supervisor.nome&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
										} 
									} 
								</div>
							 <br /><br />
							</div> 
						</div>
					</div>
				 }
           } 
        </div>
    }
}
