@(diretorias: List[Diretoria])

@import helpers.Seguranca.InformacoesUsuarioHelper._

@base("SIMEA - Sistema de Monitoramento de Evasão de Alunos", "", extraScripts= Html("")){
    @utils.panel("Diretorias"){
        <div class="x_content">
       		 <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" >
                  <div class="input-group" style="float:right;">
                    <a href="@routes.DiretoriaController.formulario" class="btn btn-default btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
                  </div>
                </div>
              </div>
              <br>
            @if(diretorias.size == 0) {
				<h3>Nenhuma diretoria cadastrada.</h3>
			} else {
				@for(diretoria <- diretorias) {
					<div class="item-lista">
						<div class="item-lista">
							<div class="item">
								<h2>@diretoria.nome</h2>
								<div style="padding-top: 10px;">
									@if(isLogado()) {
										@if(getUsuarioLogado().isAdministrador) {
											<a href="@routes.DiretoriaController.editar(diretoria.id)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
											<a href="@routes.DiretoriaController.deletar(diretoria.id)" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir a diretoria &quot;@diretoria.nome&quot;?')"><i class="fa fa-times" aria-hidden="true"></i> Excluir</a>
										}
									}
								</div>
							 <br /><br />
							</div>
						</div>
					</div>
				 }
           }
        </div>
    }
}
