@(campus: List[Campus])

@import helpers.Seguranca.InformacoesUsuarioHelper._

@base("SIMEA - Sistema de Monitoramento de Evasão de Alunos", "", extraScripts= Html("")){
    @utils.panel("Campus"){
      <div class="x_content">
     		 <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" >
              <div class="input-group" style="float:right;">
                <a href="@routes.CampusController.formulario" class="btn btn-default btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
              </div>
            </div>
          </div>
          <br>
      @if(campus.size == 0) {
			  <h3>Nenhum campus cadastrado.</h3>
			} else {
				@for(campi <- campus) {
					<div class="item-lista">
						<div class="item-lista">
							<div class="item">
								<h2>@campi.nome</h2>
								<div style="padding-top: 10px;">
									@if(isLogado()) {
										@if(getUsuarioLogado().isAdministrador) {
											<a href="@routes.CampusController.editar(campi.id)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
											<a href="@routes.CampusController.deletar(campi.id)" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir o campus &quot;@campi.nome&quot;?')"><i class="fa fa-times" aria-hidden="true"></i> Excluir</a>
										}
									}
								</div>
							 <br/><br/>
							</div>
						</div>
					</div>
				 }
      }
      </div>
    }
}
