@(alunos: List[Usuario])

@import helpers.Seguranca.InformacoesUsuarioHelper._

@base("SIMEA - Sistema de Monitoramento de Evasão de Alunos", "", extraScripts= Html("")){
    @utils.panel("Alunos"){
        <div class="x_content">
       		 <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" >
                  <div class="input-group" style="float:right;">
                    <a href="@routes.AlunoController.formulario" class="btn btn-default btn-lg"><i class="btn btn-default btn-lg"></i>Cadastrar</a>
                  </div>
                </div>
              </div>
              <br>
            @if(alunos.size == 0) {
				<h3>Nenhum aluno cadastrado.</h3>
			} else {
				@for(aluno <- alunos) {
					<div class="item-lista">
						<div class="item-lista">
							<div class="item">
								<h2>
									<a href="@routes.AlunoController.visualizar(aluno.id)">
										@aluno.nome
									</a>
								</h2>
								<div style=" padding-top:10px;">
									<a href="@routes.AlunoController.visualizar(aluno.id)" class="btn btn-primary"><i class="icon-white icon-list-alt"></i> Visualizar</a>

									@if(isLogado()) {
										@if(getUsuarioLogado().isAdministrador) {
											<a href="@routes.AlunoController.editar(aluno.id)" class="btn"><i class="icon-edit"></i> Editar</a>
											<a href="@routes.AlunoController.deletar(aluno.id)" onclick="return confirm('Deseja realmente excluir o aluno &quot;@aluno.nome&quot;?')" class="btn"><i class="icon-remove"></i> Excluir</a>
										}
									}
								</div>
							 <br /><br />
							</div>
						</div>
					</div>
				 }
           }
        </div>
    }
}
