@(quizForm: Form[Quiz], quiz: Quiz)

@base("Profile", "", extraScripts= Html("")){
    @utils.panel("Edição do Questionario"){
        <div class="x_content">
            <br>
            @helper.form(action = controllers.routes.QuizController.editar(quiz.id), 'class -> "form-horizontal form-label-left" , 'id -> "editQuiz" ) {

            @utils.formInput("Questionário:", "name" , quiz.name)
			@utils.formInput("Categoria:", "category", quiz.category)
            <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                </div>

            }
        </div>
    }
}
