@()

@base("SIMEA - Sistema de Monitoramento de Evasão de Alunos" , "Bem-vindo!"){


    @utils.panel("Seja bem-vindo(a) ao SIMEA"){

      O Sistema de Monitoramento de Evasão de Alunos (SIMEA) é um sistema online que reúne informações e indicadores educacionais do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IRFN) e é de uso de diferentes públicos como gestores, técnicos da secretaria, diretores escolares, professores mas, principalmente, dos alunos.
      <br><br>
      Sua principal função é coletar e apresentar, de forma consolidada, dados provenientes de questionários, construídos a partir de eixos relacionados diretamente a vida escolar e pessoal do aluno, apresentados pelo próprio sistema, – reunindo informações individuais de cada aluno, turma, diretoria e Campus, apontando os eixos que estão mais comprometidos e indicando os se há índice particular de evasão ou não, o que permite a análise comparativa de um amplo conjunto de indicadores ao longo do tempo. Assim, além de dados administrativos e de gestão da rede de ensino, resultados das questões aplicadas e indicadores de evasão (“evasômetro”), possibilitando o acompanhamento do processo permanência do aluno na instituição e a comparação, por parte da gestão educacional e dos administradores do Sistema, das responsabilidades da instituição e do aluno; bem como uma análise das causas particulares ou setoriais da possível evasão.
      <br><br>A permanência saudável do aluno é o que deve ser prezado e condicionado e o zelo para que isso aconteça será facilitado pela equipe SIMEA.

    }
}
