@(eixo: Form[Eixo])

@base("Profile", "Profile", extraScripts= Html("")){
    @utils.panel("Eixo"){
        <div class="x_content">
            <br>
            @helper.form(action = controllers.routes.EixoController.cadastrar(), 'class -> "form-horizontal form-label-left" , 'id -> "editEixo" ) {

       			@utils.formInput("Eixo:","nome")

           		<div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            }
        </div>
    }
}
