@(questoes: List[Questao])

@import helpers.Seguranca.InformacoesUsuarioHelper._

@base("SIMEA - Sistema de Monitoramento de Evasão de Alunos", "", extraScripts= Html("")){
    @utils.panel("Perguntas"){
        <div class="x_content">
       		 <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" >
                  <div class="input-group" style="float:right;">
                  @if(isLogado()) {
					          @if(getUsuarioLogado().isAdministrador) {
                      <a href="@routes.QuestaoController.formulario" class="btn btn-default btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>
                  	}
                  }
                  </div>
                </div>
              </div>
              <br>
            @if(questoes.size == 0) {
				<h3>Nenhuma pergunta foi cadastrada.</h3>
			} else {
				@for(questao <- questoes) {
					<div class="item-lista">
						<div class="item-lista">
							<div class="item">
								<h2>@questao.pergunta</h2>
								<div style="padding-top: 10px;">
									@if(isLogado()) {
										@if(getUsuarioLogado().isAdministrador) {
											<a href="@routes.QuestaoController.editar(questao.id)" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
											<a href="@routes.QuestaoController.deletar(questao.id)" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir a pergunta &quot;@questao.pergunta&quot;?')"><i class="fa fa-times" aria-hidden="true"></i> Excluir</a>
										}
									}
								</div>
							 <br /><br />
							</div>
						</div>
					</div>
				 }
           }
        </div>
    }
}
