@(usuario: Usuario)

@layoutEmail {
	<p>Olá <strong>@usuario.nome</strong>, seu cadastro no SIMEA foi criado com sucesso!</p>
	<p>
	Para poder fazer parte da nossa rede e para que possamos avaliar seu índice de evasão é preciso ativar a sua conta. <br/>
	Clique no link abaixo para ativá-la agora mesmo!<br/>
	@*
	<a href="@routes.Sessions.ativarConta(usuario.email).absoluteURL(request)"> @routes.Sessions.ativarConta(usuario.email).absoluteURL(request)</a>
	*@
	</p>
	<br/>
	<p>
		Atenciosamente, <br/>
		Equipe SIMEA
	</p>
}
