@()

@skeleton(
bodyClass = "login"
){
<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
        	<center><img src="@routes.Assets.versioned("images/simea_v.png")" alt="SIMEA" width="250"></center>
                <br><center><h2>Seja bem vindo(a) ao SIMEA</h2></center><br><br>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                the leap into electronic typesetting.</p>
                <p><center><a href="@routes.SessionsController.login">Acesse </a></center></p>
        </div>
    </div>
</div>
</body>
}

