@()

@skeleton(
bodyClass = "login"
){
<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
        	<center><img src="@routes.Assets.versioned("images/simea_v.png")" alt="SIMEA" width="250"></center>
          <br>
          <center><h2>Seja bem vindo(a) ao SIMEA</h2></center>
          <br><br>
          <p>O Sistema de Monitoramento de Evasão de Alunos (SIMEA) é um sistema online que reúne informações e indicadores educacionais do Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte (IRFN) e é de uso de diferentes públicos como gestores, técnicos da secretaria, diretores escolares, professores mas, principalmente, dos alunos. </p>
          <br><br>
          <p><center><a href="@routes.SessionsController.login">Acesse </a></center></p>
        </div>
    </div>
</div>
</body>
}
